<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="../assets/css/home.css">
    </head>
    <body>
        <h1>TODO_APP</h1>
        <form action="" method ="">
            <input type="text" name="description"  placeholder="Add description" required>
            <input type="date" name="date" required>
            <input type="text" name="type" placeholder="Add type">
            <input type="button" value="ADD">
            <input type="button" value="DELETE">
        </form>
    </body>
</html>